<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="flex-direction: column;">
                <h2 class="section-heading">Some Wishes</h2>
                <h3 class="section-subheading text-muted">Because, yes, we love you.

                    Because you deserve them.

                    To let you know how many hearts you've touched!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Neha</h4>
                <p class="text-muted">A circle is round,
                    It has no end,
                    That's how long
                    I want to be
                    Your friend!!!

                    Happiest birthday bhai....
                    May God fulfill all ur wishes.....all means all.. 😇
                    Remember.... I m always there for you....in happy times... Sad Times...and all times.. 🤭
                    Together forever
                    Every memory with you is be.. youtiful ♥</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Megha</h4>
                <p class="text-muted">Happy birthday 🎂🎂
                    Mr Nautanki😍😍
                    A battery charged with full of amusement and notorious activities 😋😋
                    Just stay same the way you are❤❤
                    Our friendship is just like tom and jerry with numerous fyts but yeah somehow we made it to 5
                    years😍😍😍
                    I jst wish we stay the same n will celebrate your coming birthdays together🥰🥰🥰
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Milan</h4>
                <p class="text-muted">If life is a unknown source of ultimate energy than birthday is the charger you get every year once to charge yourself to the fullest.But remember each time you get charged you reduces  the efficiency of your source. Happy Birthday🎂🎂</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Dolly</h4>
                <p class="text-muted">Happiest birthday Aayush!!

                    U are a wonderful person and A very good friend .. ♥🥰
                    Par nautankii ki bhi Puri dukaan hai 😆
                    Sabkoo pareshan krna tera kaam hai 😹😹
                    Itraii Bina tera chlta nhii 😂😂but insaan Tu mastt hai😍
                    May Ur this birthday be as amazing as u re ...all happiness to u🎉🎉
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Heena</h4>
                <p class="text-muted">You’ve always been great at sharing and caring. On this birthday, may you be blessed tenfold with the love that you have given unselfishly to others. Wishing you all the happiness in life. Happy Birthday 🎉🎉
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Akshita</h4>
                <p class="text-muted">Happy birthday aayush.!!
                    🎉Janmdin ki aapko bahut bahut mubarak baad..🎉
                    😍Dua h hamari ki aap khush rahe saalo saal..😍
                    💖Ye dosti bhi hamari salamat rahe aapke paas..💖
                    👻Hr roz aapke dil me aaye ek sunder khvab..👻
                    😻Or unke pure hone ki khushi me nikl jaye aapka hr saal..😻
                    To a friend who will never give up😍 Happy birthday again..🎂🎂
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Sonal</h4>
                <p class="text-muted">I wish u from the depth of my heart an enjoyable and fabulous b'day .🎂🥳may you experience all the good things you have always wished to have.💕
                    Always remains same 🥰
                    Happiee b'day.
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Shivie</h4>
                <p class="text-muted">Heya! Aayush..wish you a very happy birthday dude..hope you get what your heart desires!!   Enjoy this wonderful day😊 happy level-up day..
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Komal</h4>
                <p class="text-muted">"May the joy that you have spread in the past come back to you on this day.♥♥ Wishing you a very happy birthday🎂🎂
                    Stay blessed and stay same forever. 
                    Love you to the moon and back Aayush!!!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Harshita</h4>
                <p class="text-muted">Happiest birthday Ayush ! Wish you all success and pride. You have such a charm 😘 .. miss our national convention times :) love love !
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Muskan</h4>
                <p class="text-muted">Ghumna firna hasna hasana
                    Kuch eshi yaadein humari hai.
                    
                    Dhoop me ho baarish jaise,
                    Kuch eshi apni yaari hai.
                    
                    Saari duniyaan luta du fir bhi ehsaan na chukega uss khuda ka...tujhsa jo uss se mujhe yaar mila hai.
                    
                    Har baar kiya humne toh aitbaar jinpe....unse toh bas humein bezaar mila hai.
                    
                    Vo apni cs foundation mulaqaatein 
                    Or phir vo apni raat bhar kri hui baatein..
                    
                    Yaad hai na....
                     
                    Ghumna firna hasna hasana
                    Kuch eshi yaadein humari hai.
                    
                    Dhoop me ho baarish jaise,
                    Kuch eshi apni yaari hai.
                    
                    Vo apna baat baat par ladna or phir tera mujhe kch esa samjhana..
                    Aashan nhi hota ek anjaan ko ek dost ke roop me pana
                    
                    Hai na....
                    
                    Ghumna firna hasna hasana
                    Kuch eshi yaadein humari hai.
                    
                    Dhoop me ho baarish jaise,
                    Kuch eshi apni yaari hai. 
                    
                    So happy birthday to my closest friend i have ever met ❤️
                    Wishing u health love wealth,happiness nd just everything ur heart desires..😊
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Khushi</h4>
                <p class="text-muted">Wish you very happy brthday ayush bhai🥰🥰The very memorable days we first met at the convention were the very memorable days that we all had fun together there are a lot of remembrance all day and you always be happy you get everything you need God do all your will.....& again happpyy brthday🥰🎂.....aur ha aapka level hi alag h 😂
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Nikita</h4>
                <p class="text-muted">Hi like🤭...i wish you a very happy birthday🎂.....
                    hum dono bht ache frnds to nhi bne...
                    but jitna b tumhe jana ...
                    tumme ek bindaas  and cool banda hi najar aya....
                    ladko ke bich tumhe kbhi dekha nhi par ladkiyo me tumhara tashan jrur najar aya...
                    tumhara  ek word "like" mujhe sbse jyada  pasand aya ...
                    
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Shivani</h4>
                <p class="text-muted">Hey Aayush!!🌈
                    Wishing you happiest birthday
                    Keep up the charm and your ability to lighten up the atmosphere.. It really is a need now a days.
                    God bless you with lots of happiness and good health. 
                    2020 me CS ban jae 😁💫🤍
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Anjali</h4>
                <p class="text-muted">Happy birthday to a sweet soul, uh can make everybody smile..i loved your dramas and comedy uh did to make us laugh.. such a lovely person uh are.. uh deserve every good thing that comes your way.. happy birthday ayush💛
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Aakansha</h4>
                <p class="text-muted">Happy birthday Aayush🎂🎂

                    You are one of the kindest souls😘 It's been right around a long time since we know each other and to the extent I know you, you are the solution to all the problems❤️Although you are Megha's friend but you have always been there for me when I needed you 🤗You are a happy soul who add colours to the life of people around you 🌈Can't wait to see you as CS Aayush Jain😍All the best for the future👍🏻👍🏻
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Mishita</h4>
                <p class="text-muted">Hey pigelets! 🐽
                    Remember we studied about magnets and there property that same side repel, opposites attract. 
                    Didn't realized it that time but after meeting you I can totally relate that out bond is something like that too❣️, no matter how much we fight, for how long we don't talk to each other, some magnetic field surround us which always keep us close together heart by heart. 💞
                    So, Toast to the most notorious, ugly, inhuman, weird but exquisite bhondu on our planet. 😌🥰
                    Happy birthday to you bandar!🥳 Hope from this year atleast tu jeeye aur dusro ko bhi jeene de.😪
                    Chal nikal ab!!👊🏻</p>
            </div>
            <div class="col-md-4">
                <h4 class="service-heading">Ajay</h4>
                <p class="text-muted">Bhai ko janamdin mubarakh ho🎈
                    Tamanna h hamari ki hr khushi aapke sath ho🥳
                    Khushiya yuhi milti rahe aur hum aage badhte rahe😍
                    Sath hamara badhta rahe aur duniya hm se jalti rahe🤩
                    Happy Birthday🎂🎂
                </p>
            </div>
        </div>
        
    </div>

</section>